<div *ngIf="vm$ | async as vm" class="container" style="max-width: 500px">
  <h1>Your List:</h1>
  <div class="row mb-2 gap-2 p-2">
    <input
      type="text"
      placeholder="Add a new item..."
      [(ngModel)]="newItemTitle"
      class="col-12"
    />
    <button
      class="btn btn-primary col-12"
      [disabled]="!newItemTitle"
      (click)="addItem()"
    >
      <span *ngIf="!vm.loading">Add</span>
      <div
        class="spinner-border spinner-border-sm"
        role="status"
        *ngIf="vm.loading"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </button>
  </div>
  <ul class="list-group">
    <div class="card text-bg-danger" *ngIf="vm.error">
      <div class="card-body">
        <p>Error: {{ vm.error.message }}</p>
      </div>
    </div>
    <p *ngIf="vm.todos.length === 0">Your list will show here...</p>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let item of vm.todos"
    >
      <div class="d-flex align-items-center">
        <input
          type="checkbox"
          [checked]="item.done"
          (click)="changeDone(item)"
        />
        <span class="ms-2">{{ item.title }}</span>
      </div>
      <button class="btn btn-danger" (click)="deleteItem(item.id)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-trash3-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
          />
        </svg>
      </button>
    </li>
  </ul>
</div>
